body {
  font-family: LMRoman, Arial, Helvetica, sans-serif;
  margin: 0;
}
body {
  font-family: "LMRoman", Arial, Helvetica, sans-serif;
  margin: 0;
}

/* ... (existing styles) ... */

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  font-family: Arial, sans-serif; /* Change the font to Arial */
}

/* ... (existing styles) ... */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  background-color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}

.about-section {
  padding: 50px;
  text-align: center;

  background-color: #474e5d;
  color: white;
}

.about-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
}

.container {
  padding: 0 16px;
  color: white;
}

.title {
  color: grey;
  width: 360px;
}

.button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  border: none;
  outline: 0;
  margin-bottom: 10px;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card.card1:hover {
  border-color: rgb(255, 0, 0); /* Change the border color for the first card */
  border-width: 3px;
}

.card.card2:hover {
  border-color: rgb(
    0,
    255,
    0
  ); /* Change the border color for the second card */
  border-width: 3px;
}

.card.card3:hover {
  border-color: #00e5ff;
  border-width: 3px;
}

.card.card4:hover {
  border-color: rgb(255, 0, 162);
  border-width: 3px; /* Change the border color for the fourth card */
}

.card.card5:hover {
  border-color: rgb(
    238,
    255,
    5
  ); /* Change the border color for the fifth card */
  border-width: 3px;
}
.container.container1 {
  color: white;
}
.container.container2 {
  color: white;
}
.container.container3 {
  color: white;
}
.container.container4 {
  color: white;
}
.container.container5 {
  color: white;
}
.container.container1:hover {
  padding: 0 16px;
  color: red;
}
.container.container2:hover {
  padding: 0 16px;
  color: rgb(0, 255, 0);
}
.container.container3:hover {
  padding: 0 16px;
  color: #00e5ff;
}
.container.container4:hover {
  padding: 0 16px;
  color: rgb(255, 0, 162);
}
.container.container5:hover {
  padding: 0 16px;
  color: rgb(238, 255, 5);
}
.Title{

}

.content{

}
.container{
  width: 80%;
  margin: auto;
  padding-top: 100px;

}
.about-section{
  
  /* float: left; */
  width: 80vw;;
  border-radius: 40px;
  margin-left: 10vw;
  margin-top: 2vh;
}