.col-md-7 col-lg-8 text-center text-md-star{
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.col-md-5 col-lg-4 ml-lg-0 text-center text-md-end{
    font-size: xx-large;
}
.footer-image {
    width: 10px ;  
   
  }

.logogrid{
    display: grid;
    grid-template-columns: 10% 90%;
}
