@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}
html,body {
  background: rgb(79,79,79); /* Dark background */
  font-family:"Roboto";
  color: #fff; /* Text color */
  /* overflow-y: hidden; */
}
.button {
  padding: 20rem;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: uppercase;
  font-family:"Roboto";
}
input[type="email"],
input[type="password"],
input[type="text"] {
  background: #333; /* Dark input background */
  border: none;
  font-weight: 300;
  margin: 5px;
  padding: 10px;
  width: 280px;
  font-family:"Roboto";
  color: #fff; /* Text color */
}
.submit-btn {
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 15px 50px;
  text-transform: uppercase;
  font-family:"Roboto";
}
#login .submit-btn {
  background: #3aa7b1;
}
#register .submit-btn {
  background: #3aaf9f;
}
#container {
  background: #444; /* Dark container background */
  border-radius: 10px;
  height: 550px;
  margin: 5% auto;
  overflow: hidden;
  width: 1000px;
}
.social-login {
  border: 1px solid #ccc;
  border-radius: 50px;
  height: 15px;
  padding: 10px;
  width: 15px;
}
#login {
  background: #222; /* Dark background */
  float: left;
  height: 100%;
  position: relative;
  width: 50%;
  text-align: center;
  top: -550px;
  font-family:"Roboto";
  z-index: 1;
}
#register {
  background: #222; /* Dark background */
  float: right;
  height: 100%;
  position: relative;
  width: 50%;
  text-align: center;
  top: -550px;
  font-family:"Roboto";
  z-index: 1;
}
#login h1,
#register h1 {
  padding: 20% 0 25px;
  color: #3aa7b1; /* Highlighted text color */
}
#register h1 {
  color: #3aaf9f; /* Highlighted text color */
}
#login p,
#register p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  padding: 20px;
  color: #fff; /* Text color */
  font-family:"Roboto";
}
#forgot-pass {
  border-bottom: 1px solid #ccc;
  color: #fff; /* Text color */
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  padding: 3px;
  text-decoration: none;
}
#cover {
  background: #3aa7b1;
  color: #fff;
  height: 550px;
  margin: 0 0 0 50%;
  position: relative;
  text-align: center;
  transition: margin 0.7s, background 0.5s, display 1s, width 1s;
  width: 50%;
  z-index: 5;
}
#cover h1 {
  padding-top: 38%;
}
#cover p {
  font-weight: 300;
  line-height: 22px;
  padding: 30px 45px 40px;
}
.sign-in {
  display: none;
  
}
.p.sign-in{
  font-family:"Roboto";
}
.sub {
  position: relative;
  top: -11px;
}
#cover:target {
  background: #3aaf9f;
  margin: 0;
}
#cover:target .sign-up {
  display: none;
}
#cover:target .sign-in {
  display: inline-block;
}
#cover:target .login-div {
  width: 35%;
}
#credit {
  color: #999;
  font-size: 14px;
}
#info {
  background: #333; /* Dark background */
  color: #aaa; /* Lighter text color */
  padding: 20px;
  text-align: center;
}
.button sign-in{
  margin-bottom: 70px;
  translate: 0px 100px;
  height: 50px;
}
