body {
  background: #222; /* Dark background */
  font-family: 'Roboto', sans-serif;
  color: #fff; /* Text color */
}
.profile-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #3aaf9f;
    border-radius: 10px;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .profile-container h1 {
    color: #fff;
  }
  
  .profile-item {
    margin: 10px 0;
  }
  
  .profile-item label {
    display: block;
    color: #3aaf9f;
  }
  
  .profile-item input[type="text"],
  .profile-item input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #000;
    color: #fff;
    border: 1px solid #3aaf9f;
    border-radius: 5px;
  }
  
  .verify-email-button,
  .logout-button {
    background-color: #3aaf9f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button {
    background-color: #ff3a3a; /* Red color for logout button */
  }
  